<div class="user-avatar-container">
  <div class="avatar" (click)="toggleDropdown()" style>
     <div class="avatar-icon">
      <i class="material-icons">person</i>
     </div>
  </div>

  <div class="dropdown-menu" *ngIf="isDropdownOpen">
    <div class="user-info">
      <div class="avatar-icon" style="margin-right: 10px;">
        <i class="material-icons">person</i>
      </div>
      <div class="user-details">
        <span class="user-name">{{ currentUser?.username || 'User' }}</span>
        <span class="user-email">{{ currentUser?.email || 'user@example.com' }}</span>
      </div>
    </div>

    <div class="dropdown-divider"></div>

    <div class="dropdown-item" (click)="goToProfile()">
      <i class="material-icons">person</i>
      <span>Perfil</span>
    </div>

    <div class="dropdown-item" (click)="logout()">
      <i class="material-icons">logout</i>
      <span>Cerrar Sesión</span>
    </div>
  </div>
</div>
